

#homepagecarousel h1 {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    

}

.thumbnail {
    transition: transform .8s;
}

.thumbnail:hover {
    transform: scale(1.3);
    z-index: 999;
}
.container_login{
    position: absolute;
    z-index: 999;
    top: 10%;
    left: 10%;
    width: 80%;
    opacity: 85%;
}
.container_body{
    
    z-index: 999;
    top: 10%;
    left: 10%;
    
}
.container_body img {
    border-radius: 2rem 
}
.card {
    border-radius: 2rem;
    
}
p{
    color: rgba(255,255,255,.5);
}
.container_checkout{
    border-radius: 2rem;
    position: absolute;
    z-index: 999;
    top: 10%;
    left: 10%;
    width: 80%;
    opacity: 85%;
}
