#homepagecarousel h1 {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 70%;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.thumbnail {
    transition: transform .7s;
}

.thumbnail:hover {
    transform: scale(1.7);
    z-index: 999;
}
.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
